@page
@model SecuriticCargaEstres.Pages.BotonModel
@{
    ViewData["Title"] = "Boton";
}

<h1>Prueba Carga y Estres</h1>

<form action="" method="post">
    <p>
        <label for="URL">Ingresa URL:</label><br>
        <input type="text" name="URL" />
    </p>
    <p><input type="submit" value=" Escanear" /></p>
    
</form>