@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina Inicio";
}

<body>
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">SERVICIO DE CARGA Y ESTRES A TU WEB EN MINUTOS!!</h1>
                    <h2></h2> 
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form method="post">
                        <div class="form-row">
                            <div class="col-xl-9 mx-auto">                               
                                <button type="submit" class="btn btn-block btn-lg btn-primary">¡PIDE TU PRUEBA YA!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="features-icons-item mx-auto mb-7 mb-lg-0 mb-lg-6">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-screen-desktop m-auto text-primary"></i>
                        </div>
                        <h3>Fully Responsive</h3>
                        <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="features-icons-item mx-auto mb-7 mb-0 mb-lg-6">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-check m-auto text-primary"></i>
                        </div>
                        <h3>Easy to Use</h3>
                        <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/Seguridad.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Seguridad Informatica</h2>
                    <p class="lead mb-0" >Somos una empresa enfocada a la protección de uno de los patrimonios más importantes de las organizaciones, la información. Nuestra empresa se especializa en el diseño, implementación, mantenimiento, y mejora continua de sistemas de gestión de seguridad de información, adoptando estrategias reactivas y proactivas que permitan gestionar las amenazas y vulnerabilidades que afectan los procesos organizacionales y tecnológicos, logrando una mayor competitividad, confianza y continuidad de negocio de sus clientes.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.jpg');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Prueba de carga y estres</h2>
                    <p class="lead mb-0">Las pruebas de carga son proyectos que permiten detectar problemas de rendimiento en las aplicaciones, evaluar si satisfacen las necesidades del cliente antes de su publicación, y determinar las respuestas de la aplicación a diferentes niveles de uso una vez publicada.</p>
                </div>
            </div>
        </div>
    </section>
   
    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">¿Quienes somos?</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/img/Silder.jpg" alt="">
                        <h5>Siler Amador Donado</h5>
                        <p class="font-weight-light mb-0">"CISO"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/img/JuanPablo.jpg" alt="">
                        <h5>Juan Pablo Martinez Pulido</h5>
                        <p class="font-weight-light mb-0">"CSO"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/img/Alejandro.jpg" alt="">
                        <h5>Alejandro Romero Campos</h5>
                        <p class="font-weight-light mb-0">"CFO"</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
      
</body>
